@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-underline {
    position: relative;
    text-decoration: none;
}

.animated-underline::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

.animated-underline:hover::after {
    width: 100%;
}

.group:hover .absolute {
    transform: translate(-50%, 0) scale(1);
    pointer-events: auto;
}